
// Feature Section
.feature-bg{
  background: $preset;
}
.text-wrapper{
  height: 100%;
    display: table;
    padding-left: 140px;
    > div{
      vertical-align: middle;
      display: table-cell;
    }
}
.feature-thumb{
  padding: 40px 0;
}
.feature-item{
    padding: 30px;
    .icon{
      float: left;
      border: 1px solid #fff;
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 50%;
      transition: all .6s ease;
      -moz-transition: all .6s ease;
      -webkit-transition: all .6s ease;
      i{
        font-size: 30px;
        color: #fff;
        line-height: 50px;
      }       
    }     
  }
  .feature-content{
    color: #fff;
    margin-left: 70px;
    font-size: 22px;
    margin-top:10px;
    h3{
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  .feature-item:hover .icon{
    background: #fff;
    i{
      color: $preset;
    }
  }







